<h1>Hello, this is a to do list application</h1>

<form action="/" method="POST">
    <ul>
		
        <li>
            <label for="task">What you need to do:</label>
            <input type="text" id="task" name="task">
        </li>
        <li>
            <label for="date">When:</label>
            <input type="date" id="date" name="date">
        </li>
		<button class="submit">Create a task</button>
		
    </ul>
</form>

<div>
	
	<table>
		<thead>
			<tr>
				<th>Task</th>
				<th>Date</th>
				<th>Delete task</th>
			</tr>
		</thead>
		<tbody>
			<% for (let i=0; i <lists.length; i++) { %>
				<tr>
					<td>
						<%= lists[i].task%>
					</td>
					<td>
						<%= lists[i].date%>
					</td>
			
				
				
					<td>
						<form method="post" action="/delete?id=<%= lists[i].id %>"><button class="not-button">DELETE</button>
						</form>
					</td>
				</tr>
				<% } %>
		</tbody>
	</table>
		
	
	
</div>