<h1>Hello, this is a to do list application</h1>

<form action="/addtask" method="POST">
    <ul>
		
        <li>
            <label for="task">What you need to do:</label>
            <input type="text" id="task" name="task">
        </li>
        <li>
            <label for="date">When:</label>
            <input type="date" id="date" name="date">
        </li>
		<button type="submit">Create a task</button>
		
    </ul>
</form>

<div>
	
	<table>
		<thead>
			<tr>
				<th>TASK</th>
				<th>DATE</th>
				<th>MARK AS DONE</th>
				<th>DELETE TASK</th>
				
			</tr>
		</thead>
		<tbody>
			<% for (let i=0; i <lists.length; i++) { %>
				<tr>
					<td>
						<%= lists[i].task%>
					</td>
					<td>
						<%= lists[i].date%>
					</td>
					<td>
						<input class="checkbox" type="checkbox" value="<%= lists[i].todo %>" name="checkbox"/>
					</td>		
					<td>
						<form method="post" action="/deletetask?id=<%= lists[i].id %>">
							<button type="submit" class="delete_button">DELETE</button>
						</form>
					</td>
					
				</tr>
				<% } %>
		</tbody>
	</table>
	<p class="linking-p">Check all <a href="/archived">done tasks</a></p>
	
	
	
</div>